<h1>products#show</h1>

<h2><%= @product.name %></h2>
<%= @product.products_explanation %>
<p>¥<%= @product.non_taxed_price.to_s(:delimited) %>
    <span class="tax">(税抜)</span>
</p>


	<div>個数選択</div>
	<div>カートに入れる</div>
