/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: #6c6b6b;
}

li {
    margin: 5px;
}
.container {
  height: 100%;
}

#header {
   padding: 10px 20px 20px 20px;
   border-bottom: 1px solid #CCFFFF;
   background-color: #FFC7AF;
   position: sticky;
    top: 0;
   z-index:9999;
   width: 100%;
 }
 .header_btn:hover {
   background-color: #FFCCCC !important;
   color: #FF0066;
   border-radius:30px;
 }
 .header-name {
   padding-top: 10px;
   margin-right: 10vh;
   font-weight: bold;
   color: #444444;
 }



#error_explanation {
  color: red;
}

#error_explanation ul li {
  color: red;
}

.flash{
  width: 30%;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  border: 1px solid rgba(0,0,0,.20);
	padding: 7px;
	font-weight:bold;
	&.notice{
		background-color:#dbffed;
		color:#03622f;
	}
	&.success{
		background-color:#dbedff;
		color:#032f62;
	}
	&.danger{
		background-color:#ffdbed;
		color:#dd6262;
	}
}
#wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #FFC7AF;
    text-align: center;
    margin-top: auto;
}

.product-container {
    display: flex;
    flex-direction: row;
    float: left;
}

.toppage-footer {
    margin-left: 900px;
}

.sample {
    margin-top: 70px;
    margin-left: 50px;
}

.toppage-head {
    margin-top: 30px;
}

.sample1{
    margin-top: 130px;
}

.actions {
    margin-top: 20px;
    margin-bottom: 20px;
}


.padding-left {
    padding: 0;
}

.order_status {
  display: inline;
}

.control-form {
  display: inline;
}

.control-label {
  display: inline;
}

.inline {
  display: inline;
}

.control-label {
  padding-right: 80px;
}

.control-label-1 {
    padding-right: 95px;
}

.control-label-2 {
    padding-right: 32px;
}

.control-rabel-bottom {
    padding-bottom: 15px;
}

.new-btn {
    text-align: right;
}

.a-c-e-1 {
  padding-right: 150px;
}

.a-c-e-2 {
  padding-right: 157px;
}

.a-c-e-3 {
  padding-right: 125px;
}

.a-c-e-4 {
  padding-right: 126px;
}

.a-c-e-5 {
  padding-right: 158px;
}

.a-c-e-6 {
  padding-right: 126px;
}

.a-c-e-7 {
  padding-right: 130px;
}

.head-line {
    margin-top: 50px;
}

.table {
    margin-top: 50px;
}

.product-description {
    margin-left: 60px;
}

.product-image {
    margin-top: 50px;
}

.btns {
    margin-bottom: 30px;
}

.text-center-thanx {
    margin-top: 200px;
    margin-left: 300px;
}

.bottom {
    margin-left: 450px;
}

.quit {
    margin-top: 180px;
    margin-left: 350px;
}

