<table>
  <tr>
    <td><%= link_to "商品一覧", products_path %></td>
    <td><%= link_to "会員一覧", administrators_administrators_path %></td>
    <td>注文履歴一覧(未実装)</td>
    <td>ジャンル一覧(未実装)</td>
    <td><%= link_to "ログアウト", destroy_administrator_session_path, method: :delete %></td>
  </tr>
</table>